# ignore all files in the raw_data folder
raw_data/

#ignore the trimmed data as well
trimmed_data

#ignore assembly data
Genome-Analysis-VT22/data/assembly/

#Ignore the fastqc zip-files and only copy the html ones.
Genome-Analysis-VT22/analyses/01_preprocessing/fastqc_raw/*.zip
Genome-Analysis-VT22/analyses/01_preprocessing/fastqc_trim/RNA_08-04/*.zip
Genome-Analysis-VT22/analyses/01_preprocessing/fastqc_trim/DNA_08-04/*.zip
Genome-Analysis-VT22/analyses/01_preprocessing/fastqc_trim/RNA_12-04/*.zip

